/* header start------------------------------------------------------------------------- */
.Influencer-products-header{
display: flex;
justify-content: space-between;
padding-top: 50px;
}
/* header left side */
.header-left{
padding-left:150px ;
padding-bottom: 50px; 
font-family: 'Roboto', sans-serif;
color: rgb(110, 109, 109);
}
/* header right side */
.header-right{
    padding-right:100px ;
    padding-top: 40px;
}
.header-right a{
text-decoration: none;
color: gray;
font-size: 20px;
font-family: 'Roboto', sans-serif;
}
.header-manu{
padding-right: 26px;
}


/* main start ---------------------------------------------------------------------------*/
.content{
    width: 1520px;
    margin-top: 0%;
}

/*----------------------
 heder section start 
------------------------*/
.Influencer-header{
display: flex;
padding-left: 150px;
}
.info-titel-header{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: rgb(77, 76, 76);
}
.Influencer-info{
padding-right: 100px;
padding-top: 60px;
}
.infi-pharagrap{
    color: rgb(77, 76, 76);
     font-family: 'Poppins', sans-serif; 
}
.header-batton a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color:rgb(100, 240, 158);
    padding: 10px 30px;
    border-radius: 40px;
     font-family: 'Poppins', sans-serif; 
    margin-top: 16px;
    display: inline-block;
    font-weight: 600;
}
.image img{
    width: 440px;
    height: 414px;
}
/* header-hover */
.header-batton:hover a{
    background-color:rgb(116, 255, 146);
    padding: 10px 30px;
    box-shadow:2px 2px 10px rgb(143, 142, 142);
}
.header-batton:hover a{
transform: rotate(360deg);
transition: transform 1.4s ;
}
/* ---------------------
header-animation
---------------------- */
.header-animation{
width:150px;
height:500px;
background-color: rgb(255, 255, 255);
position: absolute;
}
.header-ball{
height:50px;
width: 50px;
background-color: blanchedalmond;
border-radius: 25px;
position: relative;
animation: sliding 2.1s ease-in 0s infinite alternate ;
animation-play-state: running;
}
@keyframes sliding {
    
    0%{
        top:0%; 
        left:0px;
    }
    25%{
    top: 100px;
    left: 100px;
    background-color:rgb(100, 240, 158);
    }
    50%{
    top: 200px;
     left: 0px;
     background-color: blanchedalmond;
    }
    75%{
    top: 300px;
    left: 100px;
    background-color:rgb(100, 240, 158);
     }
     100%{
    top: 400px;
    left: 0px;
    background-color: blanchedalmond;
}
} 

/*---------------------
 company logos start 
 ---------------------*/
 .company-logos{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(235, 226, 226);
    border-left:none ;
    border-right: none;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    padding-top: 10px;
 }
.logo{
    padding: 20px;
}
/*-----------------------
 Popular Collection
----------------------- */
.Popular-header{
    font-size: 28px;
/* google font two */
    font-family: 'Ubuntu', sans-serif;
    padding-left: 616px;
    margin-top: 100px;
    color: rgb(77, 76, 76);
    text-shadow: 2px 2px 5px rgb(180, 180, 180);
 padding-bottom: 40px;
}
/*-----------
All products 
----------*/
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 50px;
    grid-column-gap: 30px;
    width: 800px; 
    padding-left: 230px;
    margin-bottom: 50px;
}
/*--------------------
 product-info
 ------------------ */
.product{
    width: 329px;
    height: 476px;
    background-color: rgb(245, 238, 238);
    border-radius: 10px;
    box-shadow: 2px 2px 20px gray;
}
.product:hover{
box-shadow:2px 2px 20px rgb(129, 247, 178);
}
/* product-image */
.product-image img{
    padding-left: 14px;
    padding-top: 14px;
}
/* product-info */
.product-info{
    padding-left: 15px;
}
 /* name */
.product-name{
    font-size: 28px;
    font-family: 'Poppins', sans-serif; 
    margin-bottom: 0%;
    margin-top: 0%;
}
/* price */
.product-price{
    margin-top: 0%;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
/* rating */
.product-rating{
    margin-bottom: 0%;
}
.fa-star.fild{
    color: rgb(243, 184, 36);
}
.fa-star.not-fild{
    color: gray;
}
/* data */
.produect-data{
    color: gray;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0%;
}
/*------------------------------------------------
 see-more-batton
----------------------------------------------- */
.see-more-batton a{
    text-decoration: none;
    color: rgb(88, 255, 158);
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-shadow:2px 2px 10px rgb(24, 23, 23);
    margin-bottom: 50px;
    position: relative;
    left: 1100px;
    top: -20px;
  
}
/*-------------------------------------------------
 extra mark secrtion 
 -- ------------------------------------------- */
 .feedback:hover{
     box-shadow: 4px 4px 20px rgb(132, 219, 2);
 }
 .feedback{
   
     width: 1100px;
     height: 260px;
     background-color: rgb(247, 240, 232);
     align-items: center;
     margin: 0 auto;
     border-radius: 10px;
     box-shadow: 4px 4px 20px rgb(90, 139, 101);
 }
.titel-qustion{
    text-align: center;
}
 .titel-qustion h1{

    padding-top: 30px;
    font-size: 30px;
    margin-bottom: 0%;
    font-family: 'Open Sans', sans-serif;
 }
 .titel-qustion p{
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    margin-top: 0%;
 }
 .input{
padding: 10px;
border-radius: 10px;
font-family: 'Open Sans', sans-serif; 
font-size: 16px;
margin-left: 10px;
 }
 form{
     text-align: center;
 }
 .input-batton{
font-size: 15px;
font-family: 'Open Sans', sans-serif; 
color: rgb(43, 43, 43);
padding: 3px;
 }
/*---------------------------------------------------
 full-footer-part
---------------------------------------------------- */
footer{
    margin-top: 80px;
}
.full-footer-part{
    width: 100%;
    height: 239px;
    background-color: rgb(0, 0, 0);
}
.footer-titel{
    font-size: 34px;
    text-align: center;
    margin-bottom: 0%;
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
}
.footer{
    padding-top: 40px;

}
/* footer-info */
.footer-info{
    margin-top: 0%;
    margin-bottom: 0%;
}
.footer-info-one{
    display: block;
    text-align: center;
    color: rgb(255, 241, 241);
    font-family: 'Dongle', sans-serif;
}   
.footer-info-two{
    display: block;
    text-align: center;
    color: rgb(5, 159, 219);
    font-family: 'Dongle', sans-serif;
}

/* .icon */
.footer-icon{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.icon{
    color: rgb(255, 255, 255);
   
    text-align:center;
    display:block;
    width: 50px;
    float: left;
    font-size: 25px;
}
/*----------------------------------------------------------------------------------
                                    media query
 --------------------------------------------------------------------------------- */
 /* ............modile device........... */
 @media only screen and (min-width:340px) and (max-width:680px){
     .header-left{
         padding-left: 80px;
         padding-bottom: 0%;
     }
     .header-right{
      display: none;
     }
     .header-animation{
    display: none;
     }
     .header-ball{
    display: none;
     }
     .Influencer-header{
         display: inline;   
     }
     .Influencer-info{
         padding-right: 0%;
         width: 420px;
         padding-left: 15px;
     }
     .info-titel-header{
    font-size: 40px;
     }
     .image img{
         width: 350px;
         height: 350px;
        padding-left: 40px;
        padding-top: 30px;
        }
    .company-logos{
    display: none;
        }  
        .Popular-header{
            padding-left: 90px;
        }
        .products{
    display:grid;
    grid-template-columns: repeat(1,1fr);
  padding-left: 60px;

        }
        .feedback{
            width:400px ;
            height: 350px;
            margin-left:27px ;
          
        }
        .input{
display: block;
margin-left: 100px;
        } 
 } 
 /* ............tab device............. */
 @media only screen and (min-width:810px) and (max-width:1080px){
    .header-left{
         padding-left: 230px;
        padding-bottom: 0%;
    }
    .header-right{
     display: none;
    }
    .header-animation{
   display: block;
   height: 400px;
    }
    .header-ball{
  display: block;
    }
    .Influencer-header{
        display: inline;   
    }
    .Influencer-info{
        margin-top: 0%;
        margin-bottom: 0%;
        padding-left: 150px; 
     
    }
    .info-titel-header{
   font-size: 50px;
    }
    .image img{
        width: 550px;
        height: 550px;
       padding-left: 130px;
       padding-top: 30px;
       }
   .company-logos{
   display: none;

       }  
       .Popular-header{
         padding-left: 300px;
       }
       .products{
   display:grid;
   grid-template-columns: repeat(2,1fr);
    padding-left: 20px; 
    grid-column-gap: 20px;
    grid-row-gap: 30px;

       }
       .feedback{
           width:770px ;
           height: 350px;
           margin-left:15px ;
         
       }
 }